h1 {
    margin-bottom: 15px;
}

.buttons {
    text-align: center;
}

.button {
    font-size: 30px;
}

.pad {
    margin: auto;
    padding-right: 100px;
}

.circle {
    margin: 33px;
    border: 10px solid #333;
    background-color: #333;
    border-radius: 30%;
    height: 500px;
    width: 500px;
    padding: 30px;
    overflow: hidden;
    position: relative;
}

/*Pannels*/
.topLeftPanel {
    position: absolute;
    background-color: red;
    width: 50%;
    height: 45%;
    left: 55%;
    right: 0%;
    bottom: 50%;
    top: 0%;
}

.topRightPanel {
    position: absolute;
    background-color: green;
    width: 45%;
    height: 45%;
    left: 0%;
    right: 45%;
    bottom: 50%;
    top: 0%
}

.bottomLeftPanel {
    position: absolute;
    background-color: yellow;
    width: 45%;
    height: 50%;
    left: 0;
    right: 50%;
    bottom: 0%;
    top: 55%;
}

.bottomRightPanel {
  position: absolute;
  background-color: blue;
  width: 50%;
  height: 50%;
  left: 55%;
  right: 0%;
  bottom: 0%;
  top: 55%;
}

/*Active class when game is running*/

.active {
    opacity: .5;
}

.bottomRightPanel:hover {
    opacity: .5;
}

.bottomLeftPanel:hover {
    opacity: .5;
}

.topRightPanel:hover {
    opacity: .5;
}

.topLeftPanel:hover {
    opacity: .5;
}