@import url("https://fonts.googleapis.com/css?family=Audiowide|Exo+2");

.instructions {
    margin-top: 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.text {
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    text-align: center;
}

.buttons {
    text-align: center;
}

.pad {
    margin: auto;
}
.circle {
    margin: 33px;
    border: 10px solid #333;
    background-color: #333;
    border-radius: 30%;
    height: 500px;
    width: 500px;
    padding: 30px;
    overflow: hidden;
    position: relative;
}

.top-left-panel {
    position: absolute;
    background-color: red;
    width: 50%;
    height: 45%;
    left: 55%;
    right: 0%;
    bottom: 50%;
    top: 0%;
}

.top-right-panel {
    position: absolute;
    background-color: green;
    width: 45%;
    height: 45%;
    left: 0%;
    right: 45%;
    bottom: 50%;
    top: 0%
}

.bottom-left-panel {
    position: absolute;
    background-color: yellow;
    width: 45%;
    height: 50%;
    left: 0;
    right: 50%;
    bottom: 0%;
    top: 55%;
}

.bottom-right-panel {
  position: absolute;
  background-color: blue;
  width: 50%;
  height: 50%;
  left: 55%;
  right: 0%;
  bottom: 0%;
  top: 55%;
}

.settings {
    margin: 10px;
}

/*Form section taken from milestone 1 and adapted to this milestone*/

/*Contact Form taken from resume class*/
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
}